ReferralBonus/Home/SubscribeMailer/SubscribeMailer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ADD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ADDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ADDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mailer">
        <s:complexType />
      </s:element>
      <s:element name="MailerResponse">
        <s:complexType />
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ADDSoapIn">
    <wsdl:part name="parameters" element="tns:ADD" />
  </wsdl:message>
  <wsdl:message name="ADDSoapOut">
    <wsdl:part name="parameters" element="tns:ADDResponse" />
  </wsdl:message>
  <wsdl:message name="MailerSoapIn">
    <wsdl:part name="parameters" element="tns:Mailer" />
  </wsdl:message>
  <wsdl:message name="MailerSoapOut">
    <wsdl:part name="parameters" element="tns:MailerResponse" />
  </wsdl:message>
  <wsdl:message name="ADDHttpGetIn">
    <wsdl:part name="i" type="s:string" />
    <wsdl:part name="j" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ADDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="MailerHttpGetIn" />
  <wsdl:message name="MailerHttpGetOut" />
  <wsdl:portType name="SubscribeMailerSoap">
    <wsdl:operation name="ADD">
      <wsdl:input message="tns:ADDSoapIn" />
      <wsdl:output message="tns:ADDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mailer">
      <wsdl:input message="tns:MailerSoapIn" />
      <wsdl:output message="tns:MailerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SubscribeMailerHttpGet">
    <wsdl:operation name="ADD">
      <wsdl:input message="tns:ADDHttpGetIn" />
      <wsdl:output message="tns:ADDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Mailer">
      <wsdl:input message="tns:MailerHttpGetIn" />
      <wsdl:output message="tns:MailerHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubscribeMailerSoap" type="tns:SubscribeMailerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ADD">
      <soap:operation soapAction="http://tempuri.org/ADD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mailer">
      <soap:operation soapAction="http://tempuri.org/Mailer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubscribeMailerSoap12" type="tns:SubscribeMailerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ADD">
      <soap12:operation soapAction="http://tempuri.org/ADD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mailer">
      <soap12:operation soapAction="http://tempuri.org/Mailer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubscribeMailerHttpGet" type="tns:SubscribeMailerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ADD">
      <http:operation location="/ADD" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mailer">
      <http:operation location="/Mailer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscribeMailer">
    <wsdl:port name="SubscribeMailerSoap" binding="tns:SubscribeMailerSoap">
      <soap:address location="http://localhost:26788/WebService/SubscribeMailer.asmx" />
    </wsdl:port>
    <wsdl:port name="SubscribeMailerSoap12" binding="tns:SubscribeMailerSoap12">
      <soap12:address location="http://localhost:26788/WebService/SubscribeMailer.asmx" />
    </wsdl:port>
    <wsdl:port name="SubscribeMailerHttpGet" binding="tns:SubscribeMailerHttpGet">
      <http:address location="http://localhost:26788/WebService/SubscribeMailer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>